.AddGaymerFormSection{
  width: 100%;

}
.form-group {
  padding: unset;
  align-items: center;
  width: 100%;
}
.twitch-gaymer-input-label{
  font-size: 0.9em;
}
.twitch-gaymer-input{
  flex-basis: 30% !important;
}
.AddGaymerFormStatus {
  position: relative;
  width:100%;
}
.AddGaymerFormContainer{
  width: 100%;
}
.AddGaymerFormStatus {
  padding: 1em;
  position: absolute;
  top: 7em;
  right: 1.8em;
}

.AddGaymerFormStatus .toast-override {
  padding: 1.2em;
  width: unset;
}

.toast-override {
  width: unset !important;
  opacity: 0;

  transform: translateX(200%);
  -webkit-transform: translateX(200%);
  -webkit-transition: all .8s ease;
}

.toast-hidden {
  display: none;
}

.toast-success, .toast-warning {
   -webkit-animation: hide 1.0s forwards;
   -webkit-animation-iteration-count: 1;
   -webkit-animation-delay: 3s;
   animation: hide 1.0s forwards;
   animation-iteration-count: 1;
   animation-delay: 3s;


   opacity: 1;
   -webkit-transition: all .8s ease;
   -webkit-transform: translate3d(0, 0, 0);
}


@keyframes hide {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes hide {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
