.AppHeader{
  padding: 0.2em 1.2em;
}
h3{
  margin-bottom:0em;
}
.navbar-add-gaymer-form {
  justify-content: flex-start;
}

.navbar-slogan{
  visibility:hidden !important;
}
@media (max-width: 1280px) {
  .navbar-slogan{
    display:block;
  }
}
@media (max-width: 960px) {
  .navbar-slogan{
    display:block;
  }
}
@media (max-width: 840px) {
  .navbar-slogan{
    display:block;
  }
}
@media (max-width: 600px) { }
@media (max-width: 480px) { }
