.GaymersSection{
  padding: 1.2em;
}

.accordion .accordion-header{
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.GaymersTitle{
  font-size: 28px;
  font-weight: 500;
}

.status-circle {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  vertical-align: sub;
}
.online-circle {
  background-color: #62bd19;
}
.offline-circle {
  background-color: #ffb700;
  opacity: 0.5;
}
.gaymers-accordion-body-override{
  max-height: 100em !important;
}
