.LiveStreamsSection{
  padding: 1.2em;
}

.LiveStreamCard{
  height: 100%;
}

.LiveStreams-link-override, .LiveStreams-link-override:hover,
.LiveStreams-link-override:visited, .LiveStreams-link-override:focus {
  border:none;
  color: inherit;
  text-decoration: none;
  outline: 0;
  -moz-outline-style: none;
  margin-bottom: 0.8em;
}

.LiveStreamsContainer{
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-top:1em;
}

.livestreams-img-responsive-override{
  width: 100% !important;
  min-width: 100% !important;
}

.livestreams-display-name{
  font-size: 0.95em;
  font-weight: 300;
}

.livestreams-game-name-streaming{
  font-weight: 300;  
}

.livestreams-game-name{
  font-size: 0.9em;
}

.livestreams-viewers{
  font-size: 0.9em;
}

.livestreams-blockquote{
  font-size: 0.85em;
  font-weight: 300;
}
